.values-container {
  display: flex;
  flex-direction: column;
  color: #325D79;
  background-color: #fff;
}

.center-values {
  width: 80%;
  margin: 0 auto;
  padding-left: 25%;
}

.values-list {
  display: block;
  width: 100%;
  margin: 0.5vmax auto;  
}

.li-value-item {
  display: flex;
  justify-content: flex-start;
  padding: 0.5vmax;
}

.li-value-item p {
  margin-left: 1vmin;
  font-weight: 800;
  font-size: 1.2rem;
  text-align: justify;
}
