.form {
  display: flex;
  flex-direction: column;
  color: inherit;
  background-color: inherit;
  margin: 0,5vmax auto;
  font-family: 'Montserrat', serif;
}

label {
  font-size: calc(1rem + 0.5vw);
}

.submit-btn {
  outline: none;
  margin: 1.5vmax auto 6vmax auto;
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #F26627;
  color: #fff;
  font-size: calc(0.8rem + 0.5vw);
  font-family: 'Montserrat', serif;
  vertical-align: center;
}

input[type=text] {
  outline: none;
  display: block;
  margin: 3vw auto 2px auto;
  width: 60%;
  height: 30px;
  border: none;
  border: 1px solid #325D79;
  border-radius: 15px;
  font-family: 'Montserrat', serif;
  font-size: calc(0.7rem + 0.5vw);
  color: #325D79;
  text-align: center; 
}

input[type=text]:focus {
  border: 1px solid #9CD7D1;
  box-shadow: 0.1px 0.1px 0.1px 0.1px #9CD7D1;
}

input[type=text]::placeholder {
  color: #325D79B3;
}

@media (min-width: 50em) {
  input[type=text] {
    width: 45%;
  }
  
  .submit-btn {
    margin: 1.5vmax auto 3vmax auto;
    font-weight: 600;
  }
}

@media (min-width: 70em) {
  label {
    font-size: 1.65rem;
  }

  input[type=text] {
    width: 400px;
    margin: 2.5% auto 1.5% auto;
  }

  .submit-btn {
    width: 230px;
    margin: 1vmax auto 1vmax auto;
  }
}
