/* nav-container, logo-container, nav-links, nav-link */
.nav-container {
  top: 0;
  /* position: fixed; */
  display: grid;
  grid-template-columns: 10% 40%;
  grid-column-gap: 50%;
  justify-items: end;
}

.nav-links {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}
