/* nav-container, logo-container, nav-links, nav-link */
.nav-container, .nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  height: 3vmax;
  padding: 0.75vmax;
  /* background-color: #9BD7D1; */
  background-color: #325D79;
  color: #fff;
}
.nav-links {
  width: 40%;
}

.nav-li{
  padding: 1% 3% 1% 0;
}
